/* Styles */

a {
color: #52658f;
}

a:hover {
color: #ff3300;
}


body {
  background-color:#F7F5E6;
  color:#333A56;
  font-family: sans-serif;
  margin: 20px;
}

.intro {border-style:solid;
   background-color:#c2eae5;
   padding:5px 5px 20px 20px;



}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333A56;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #E8E8E8;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #52658f;
}
