{% extends "base.html" %}


{% block content %}

<h1>Open source climbing</h1>
<br>
<h2>Climbing is a risk sport</h2>
<p><a href="https://www.thebmc.co.uk/">The BMC Participation Statement:</a>
  The BMC recognises that climbing and mountaineering are activities with a danger of personal injury or death.
  Participants in these activities should be aware of and accept these risks and be responsible for their own actions.</p>
<br>
<p>Welcome to Open Climbing-lots of info coming soon. New features added daily
<br>
<br>
This site is in alpha testing. Some data may be wrong
<br>
<br>
All information on this site is suppliead with absolutely no warranty whatsoever. </p>

<h2>What is this site???</h2>
<p>My local climbing guide is out of print. This means climbing is restricted to
   the old guard and the people who can track down a copy of the old guide.
   There is a clique, as in all hobbies, which don't seem to mind. I hear nationally
   that x guidebook has been 5 years in the making. For all of that 5 years the
   information is only available to the 'in-crowd'. After that they rely on some
   group putting up the cash to publish the guide, or all of the volunteers work
   will be for zero. The commercial realities, and it seems the local politics mean
   that lots of climbing areas do not have a current guidebook. Meanwhile some local
   groups write their own guides and have to put up their own website. These tend
   to whither over time, as the overheads of maintaining an online presence, and
   trying to present and update guidebooks tends to make them age less than gracefully.
<br>
<br>
  But these are problems that have been solved! The internet, Google, Amazon and
  Facebook are built on <a href="https://en.wikipedia.org/wiki/Free_and_open-source_software">
  Free and Open Source Software</a>, like GNU/Linux, Apache, MySQL and PHP or the
  Python and Jinja2 that rendered this site. This
  is software that has been collaberatively built by tens-of-thousands of maintainers
  and freed from the burden of copyright (or actually using copyright laws to
  enforce freedom) it is easy for people to make derivative works or pick up and
  maintain an abandoned project. This means the information is free to spread and
  live forever.
<br>
<br>
  Over time this movement has built amazing collaberation tools, and it is our
  intention to leverage those tools to build a guide that will stay up to date and
  will never go out of print, by crowdsourcing the work.

  We are also publishing under the Creative Commons Attribution ShareAlike License
  like Wikipedia does. You can see the full details in the footer of this page,
  but basically it means that you are free to copy print and re-use this work as
  long as you attribute it to this project (called 'Open Climbing' as a working title)
  and re-share it under the same terms as we gave it to you. This means a guidebook
  company could copy verbatim our route descriptions but would have to say where
  they got them, and allow people to copy them and any derivative works from also
  under the same license.


 </p>
 <h2>Joining in</h2>
 <p>
 You can find this full project on <a href="https://github.com/Jimnotgym/climbing">Github</a>.
 From there if you are tech savvy you could contribute content directly like developers do.
 Look up how to 'fork' and 'pull request' as this is the best way to contribute both
 to the site and the guidebook content. More help coming soon with how to do this.
 However if you have route descriptions or even a complete guidebook you would
 like us to look after please do get in touch as we would gladly open-source it
 for you, so that it may be maintained forever by the community.
 <br>

 Please be quite certain that you own the copyright to the material you are handing
 to us. Route names are not subject to copyright (in our opinion) any more than
 street names are. Otherwise you could never tell anyone you had climed <em>Dreams
 of White Horses</em> without paying a license to the person that named it! Route
 descriptions and access notes are however subject to copyright, so please don't
 copy them from guidebooks. Any authors who do use this site must accept that by
 giving us the information they are expressley giving permission to have it published
 under the Creative Commons License. You can contact us at the Github link above
 where you will find issue trackers to report bugs and any problems.
 </p>

{% endblock %}
